//@font-face
//  src: url('../../fonts/HelveticaUltraLight.ttf') format('truetype')
//  font-family: "HelveticaPro"
//  font-weight: 100
//  font-display: swap
//@font-face
//  src: url('../../fonts/HelveticaUltraLightItalic.ttf') format('truetype')
//  font-family: "HelveticaPro"
//  font-style: italic
//  font-weight: 100
//  font-display: swap
//@font-face
//  src: url('../../fonts/HelveticaThin.ttf') format('truetype')
//  font-family: "HelveticaPro"
//  font-weight: 200
//  font-display: swap
//@font-face
//  src: url('../../fonts/HelveticaThinItalic.ttf') format('truetype')
//  font-family: "HelveticaPro"
//  font-style: italic
//  font-weight: 200
//  font-display: swap
//@font-face
//  src: url('../../fonts/HelveticaLight.ttf') format('truetype')
//  font-family: "HelveticaPro"
//  font-weight: 300
//  font-display: swap
//@font-face
//  src: url('../../fonts/HelveticaLightItalic.ttf') format('truetype')
//  font-family: "HelveticaPro"
//  font-style: italic
//  font-weight: 300
//  font-display: swap
//@font-face
//  src: url('../../fonts/HelveticaRegular.ttf') format('truetype')
//  font-family: "HelveticaPro"
//  font-weight: 400
//  font-display: swap
//@font-face
//  src: url('../../fonts/HelveticaItalic.ttf') format('truetype')
//  font-family: "HelveticaPro"
//  font-style: italic
//  font-weight: 400
//  font-display: swap
//@font-face
//  src: url('../../fonts/HelveticaMedium.ttf') format('truetype')
//  font-family: "HelveticaPro"
//  font-weight: 500
//  font-display: swap
//@font-face
//  src: url('../../fonts/HelveticaMediumItalic.ttf') format('truetype')
//  font-family: "HelveticaPro"
//  font-style: italic
//  font-weight: 500
//  font-display: swap
//@font-face
//  src: url('../../fonts/HelveticaBold.ttf') format('truetype')
//  font-family: "HelveticaPro"
//  font-weight: 600
//  font-display: swap
//@font-face
//  src: url('../../fonts/HelveticaBoldItalic.ttf') format('truetype')
//  font-family: "HelveticaPro"
//  font-style: italic
//  font-weight: 600
//  font-display: swap
//@font-face
//  src: url('../../fonts/HelveticaHeavy.ttf') format('truetype')
//  font-family: "HelveticaPro"
//  font-weight: 800
//  font-display: swap
//@font-face
//  src: url('../../fonts/HelveticaHeavyItalic.ttf') format('truetype')
//  font-family: "HelveticaPro"
//  font-style: italic
//  font-weight: 800
//  font-display: swap
//@font-face
//  src: url('../../fonts/HelveticaBlack.ttf') format('truetype')
//  font-family: "HelveticaPro"
//  font-weight: 900
//  font-display: swap
//@font-face
//  src: url('../../fonts/HelveticaBlackItalic.ttf') format('truetype')
//  font-family: "HelveticaPro"
//  font-style: italic
//  font-weight: 900
//  font-display: swap

@font-face
  font-family: "icomoon"
  src: url("../../fonts/icomoon/icomoon.ttf") format("truetype"), url("../../fonts/icomoon/icomoon.svg") format("svg"), url('../../fonts/icomoon/icomoon.eot') format('embedded-opentype'), url('../../fonts/icomoon/icomoon.woff') format('woff')
  font-weight: normal
  font-style: normal
  font-display: swap
