.footer
  padding: 12rem 0 4rem 0
  &__bottom
    +flex(row nowrap, space-between, flex-end)
  &__menu-item
    letter-spacing: -0.02em
    margin-right: 2.5rem
    transition: all 0.3s
    display: inline-block
    text-decoration: underline
    &:hover
      text-decoration-color: transparent
  &__form
    max-width: 60rem
    margin-bottom: 11.7rem
    display: grid
    grid-gap: 2rem

@import "media"
