.footer
  padding: 12.5rem 0 4rem 0
  &__bottom
    +flex(row nowrap, space-between, flex-end)
    .buttons-header
      margin-right: -7px
      a
        margin: 0 7px
  &__menu-item
    letter-spacing: -0.02em
    margin-right: 2.4rem
    transition: all 0.3s
    display: inline-block
    text-decoration: underline
    &:hover
      text-decoration-color: transparent
  &__form
    max-width: 71rem
    margin-bottom: 11.7rem
    display: grid
    grid-gap: 2rem
  &__menu
    margin-left: 7px

@import "media"
