.balance
  +flex(row nowrap, flex-end, flex-end)
  height: 18rem
  &__amount
    white-space: nowrap
    font-size: 14rem
    letter-spacing: -0.04em
    text-align: right
    line-height: 1

.validation
  display: flex
  justify-content: flex-end
  font-size: 14px
  letter-spacing: -0.02em
  &__button
    font-weight: lighter
  &__caption
    font-weight: bolder
    padding-right: 12px
  &__item
    transition: all 0.3s
    margin-bottom: 5px
  a
    &:hover
      color: var(--color5)

@import "media"
