.balance
  +flex(row nowrap, flex-end, center)
  height: 20rem
  padding-top: 4.5rem
  &__amount
    white-space: nowrap
    font-size: 14rem
    letter-spacing: -0.04em
    text-align: right
