.app .button._disabled {
  border: 1px solid;
  background: var(--color10);
  cursor: default;
}

.app .button._disabled:hover {
  -webkit-filter: none;
  filter: none;
}

.highcharts-credits {
  display: none;
}

.highcharts-scrollbar {
  display: none;
}

.app .table td.error {
  text-align: right;
  vertical-align: middle;
  color: red;
}
