.table
  border-collapse: collapse
  margin: -1px
  background: white
  min-width: 100%
  tbody
    color: var(--color11)
  thead
    background: var(--color1)
  th
    border: 1px solid
    padding: 10px 2rem
    font-size: 1.8rem
    font-weight: 500
    &._large
      font-size: 2.4rem
    &:last-child
      border-right: none
  td
    padding: 2rem
    border-bottom: 1px solid rgba(0, 0, 0, 0.3)
    vertical-align: top
    &:first-child,
    &:last-child
      padding-left: 3.5rem
    &._right
      text-align: right
  tfoot
    td
      +font(2.2rem, 600, var(--color1))

.table-wrapper
  border-radius: 10px
  overflow: hidden
  width: 100%
  overflow-x: auto

.table-account
  box-shadow: 0px 11px 20px rgba(171, 171, 171, 0.24)
  td
    white-space: nowrap
    font-size: 2rem
    text-align: center
    &:first-child,
    &:nth-child(2)
      text-align: left

.table-offer
  td
    padding: 3rem 17px
    border-bottom: 1px solid var(--color14)
    width: calc(100% / 4)
    &:first-child
      padding-left: 0
    &:last-child
      padding-right: 0
  tr
    &:nth-last-child(3)
      td
        border-bottom: none
    &:nth-last-child(2),
    &:last-child
      td
        padding: 17px
        border-bottom: none
  &__group
    +flex(row nowrap, flex-start, flex-start)
  &__label
    margin-right: 3rem
    padding-top: 10px
